#adminPage_background{
    -fx-background-color:linear-gradient(to bottom right, #2A455E,#998DB7);
}

#adminPage_RightPane{
    -fx-background-color:linear-gradient(to bottom right, #2A455E,#998DB7);
    -fx-background-color:linear-gradient(to bottom right, #003552,#998DB7);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color:#998DB7;
    -fx-border-style: solid;
}

.button{
    -fx-background-color:transparent;
}
.button: hover{
    -fx-background-color:#D7D9E0;
    -fx-text-fill:#061540;
}


/*TABLE*/
.table-view{
    -fx-background-color: linear-gradient(to bottom right, #B9CDD7,#E7EEF1);
    -fx-border-color: #001425;
    -fx-border-width:1px;
    /*-fx-border-radius: 20px;
    -fx-background-radius:20px;*/
    -fx-text-fill:#ffffff;
    -fx-font-family: "Georgia"; /* Use the system's default font family */
    -fx-font-weight: normal;
    -fx-font-style: normal;
}
.table-column{
    -fx-background-color: #001E37;
    -fx-border-color:#B9CDD7;
    -fx-text-fill:#ffffff;

}
.table-column:hover {
    -fx-background-color: #B9CDD7;
     -fx-text-fill:#001E37; /* Change the background color when hovering over rows */
}
/*
.table-cell{
    -fx-border-color:#B9CDD7;
    -fx-background-color:#001E37;
}
*/
.column-header .label{
    -fx-text-fill:#ffffff;
    -fx-font-weight: normal;
    -fx-font-style: normal;     /* Change the background color of column headers */
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #001E37;

     /* Change the color of the vertical scrollbar thumb */
}

.scroll-bar:vertical .track {
    -fx-background-color: #E7EEF1; /* Change the color of the vertical scrollbar track */
}

.scroll-bar .thumb:pressed {
    -fx-background-color: #001E37; /* Change the color of the scrollbar thumb when pressed */
}

.scroll-bar .thumb:hover {
    -fx-background-color: #E7EEF1;
     -fx-border-color: #001E37;
     -fx-border-radius:5px;         /* Change the color of the scrollbar thumb when hovered */
}
.table-row-cell:hover {
    -fx-background-color: #B9CDD7; /* Change the background color when hovering over rows */
    -fx-text-fill: #001E37; /* Change the text color when hovering over rows */
}

#buttonINSERT{
    -fx-text-fill:#ffffff;
    -fx-background-color:#15234B;
}
#buttonINSERT:hover {
    -fx-background-color:#E7EEF1;
    -fx-text-fill:#061540;
}

#buttonDELETE{
    -fx-text-fill:#ffffff;
    -fx-background-color:#15234B;
}
#buttonDELETE:hover {
    -fx-background-color:#E7EEF1;
    -fx-text-fill:#061540;
}

#buttonUPDATE{
    -fx-text-fill:#ffffff;
    -fx-background-color:#15234B;
}
#buttonUPDATE:hover {
    -fx-background-color:#E7EEF1;
    -fx-text-fill:#061540;
}
